:root {
  --color-scheme: dark;
  --white1: #a9a8b7;
  --dark1: #484545;
  --sireneviy: rgb(150, 150, 207);
  --yeDS: rgb(232, 224, 134);
  --un-visited-link: rgb(120, 172, 223);
  --visited-link: rgb(118, 90, 197);
  --hover-link: rgb(197, 90, 167);
  --dark-color: black;
  --bright-color: white;
  --DS-table-border: #999555;
  --dark-blue: rgb(35, 21, 67);
  --h2text-color: var(--yeDS);
  --accent: rgb(59, 168, 163);
  font-size: 16px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.header {
  background-color: var(--dark1);
  color: var(--bright-color);
}
a {
  color: var(--un-visited-link);
}
a:visited {
  color: var(--visited-link);
}
a:hover {
  color: var(--hover-link);
}

body {
  background-color: var(--dark-color);
  color: var(--bright-color);
  max-width: 500px;
  margin: 1px auto;
  text-align: center;
}

main {
  text-align: center;
}

p {
  text-align: justify;
}

ul {
  list-style: none;
  padding-left: 0; /* Убирает отступ слева у списка <ul> */
}

ul li {
  margin-left: 0; /* Убирает отступ слева у элементов <li> */
}
h1 {
  font-size: 2rem;
}
h2 {
  color: var(--h2text-color);
  font-size: 1.7rem;
}
h3 {
  font-size: 1.4rem;
  color: var(--sireneviy);
  margin: 5px auto 10px;
}

summary {
  color: var(--sireneviy);
  cursor: pointer;
}

details {
  margin-left: 10px;
}

button {
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}

.details-container {
  border: 1px solid var(--sireneviy);
  padding: 16px;
}

.container {
  padding-bottom: 4px;
}

table {
  width: 100%;
  border-collapse: collapse; /* Убираем двойные границы */
}
td,
th {
  border: 1px solid var(--DS-table-border);
  padding: 3px;
}
thead {
  background: var(--dark1);
  color: var(--white1);
}

.contact-item {
  border: 1px solid var(--sireneviy);
  margin-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 16px;
}
.contact-item-line {
  font-size: 1.2rem;
  background-color: var(--dark1);
  color: var(--bright-color);
}

.part-item {
  margin-bottom: 5px;
}
.list {
  margin: 0 auto;
}

table .hidden {
  display: none;
  visibility: collapse;
}
.pagination.container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.pagination.text,
.pagination.item {
  padding: 3px;
  text-align: center;
  margin: 2px;
  line-height: 12px;
  border: none;
}
.pagination.item {
  border: 1px solid var(--bright-color);
  border-radius: 6px;
  background: var(--dark1);
  color: var(--bright-color);
  cursor: pointer;
}
.pagination.active {
  border: 3px solid var(--yeDS);
  cursor: default;
}
.page-breaker {
  border-bottom: 2px dashed var(--DS-table-border);
}
.header-h3 {
  float: left;
  width: 88%;
}
.switcher {
  margin-top: 4px;
  width: 11%;
  border-radius: 5px;
}
.contacts .list .comtact-item p {
  text-align: center;
}
.accent {
  color: var(--accent);
}
