:root {
  --white1: #fff8f3;
  --bezevij1: #7b6152;
  --bez2: #a5978e;
  --bez3: #bea495;
  --peach: #ffbd59;
  --white2: #fafafa;
  --seriy: #272727;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.header {
  background: var(--white1);
}

body {
  color: black;
  font-family: "Comfortaa", cursive;
  background-color: var(--white1);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1 {
  color: #000;
  font-family: "Yeseva One", cursive;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

button {
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}

.container {
  max-width: 1180px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.menu__btn {
  display: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
}

.header__inner {
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 20px;
}

.menu__list-link {
  text-transform: uppercase;
}

.phone {
  position: relative;
}

.phone::before {
  position: absolute;
  content: "";
  background-image: url("../images/phone.svg");
  width: 20px;
  height: 20px;
  left: -23px;
  top: -5px;
}

.main {
  background-color: var(--white1);
  overflow-x: clip;
}

.top {
  padding: 40px 0 150px;
}

.top__inner {
  position: relative;
}

.top__content {
  width: 370px;
  padding: 150px 0 250px; /* 195 до логотипа */
}
.top__title {
  font-family: "Yeseva One";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}
.top__text {
  margin-bottom: 48px;
}
.top__buy {
  padding: 18px 54px;
  background-color: var(--peach);
  font-family: "Comfortaa", cursive;
  font-weight: 600;
}

.top__img {
  position: absolute;
  top: 0;
  left: 240px;
}

.about {
  background-color: var(--bez2);
  padding: 50px 0;
  color: var(--white2);
  margin-bottom: 150px;
}
.about__inner {
  display: flex;
  align-items: center;
}
.about__content {
  min-width: 370px;
}
.title {
  margin-bottom: 15px;
  font-size: 40px;
}
.about__text {
  margin-bottom: 15px;
  font-size: 14px;
}
.about__list {
  flex-basis: 930px;
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding-left: 110px;
  padding-bottom: 48px;
}
.section--decor {
  position: relative;
}
.section--decor::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("../images/about-decor.png");
  width: 22px;
  height: 30px;
}
.section--decor::after {
  content: "";
  position: absolute;
  left: 22px;
  bottom: 13px;
  background-color: var(--bezevij1);
  width: 200%;
  height: 1px;
}
.about__item-img {
  margin-bottom: 10px;
}
.about__item-text {
  font-size: 11px;
}

.section {
  padding-bottom: 150px;
}
.section__inner {
  display: grid;
  grid-template-columns: 370px auto;
}
.section__content-descr {
  padding-bottom: 92px;
  display: grid;
  grid-template-columns: auto auto;
}

.title,
.products__descr .products__title {
  font-family: "Yeseva One";
  font-size: 40px;
  font-weight: 400;
}
.products__content {
  gap: 50px 90px;
}
.products__item {
  width: 290px;
  margin: 0 auto;
  text-align: center;
}
.products__item-img {
  margin-bottom: 8px;
}
.products__item-price {
  font-family: "Yeseva One", cursive;
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: 400;
}
.products__item-title {
  font-family: "Yeseva One", cursive;
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 400;
}
.products__item-text {
  margin-bottom: 27px;
  font-size: 12px;
}
.button {
  padding: 18px 54px;
  background-color: var(--peach);
  font-family: "Comfortaa", cursive;
  font-weight: 600;
}

.steps__list {
  gap: 70px 25px;
  counter-reset: number;
}
.steps__item {
  display: flex;
  gap: 40px;
  list-style-type: none;
  position: relative;
}
.steps__item::before {
  counter-increment: number;
  content: "0" counter(number);
  font-family: Yeseva One;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 30px;
  color: var(--bez3);
  position: absolute;
}
.steps__item:nth-child(n + 10)::before {
  content: counter(number);
}
.steps__item.steps__item--even::before {
  left: auto;
  right: 0;
}
.steps__item-text {
  flex-basis: 174px;
  padding-bottom: 40px;
}

.courses__item-img {
  position: relative;
  color: white;
  font-size: 11px;
  font-family: "Yeseva One", cursive;
}
.courses__title {
  background-color: var(--bez3);
  padding: 15px;
  position: absolute;
  left: 9px;
  top: 45%;
}
.courses__time {
  background-color: var(--bez3);
  padding: 7px 10px;
  position: absolute;
  left: 9px;
  top: 60%;
}
.courses__price {
  background-color: var(--bez3);
  padding: 19px 10px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.team {
  background-color: var(--bez2);
  color: white;
  padding: 60px 0 80px;
  margin-bottom: 150px;
}

.team .section__descr {
  margin-bottom: 30px;
}

.team__content {
  padding-bottom: 0;
  gap: 75px;
}
.team__item-box {
  background-color: var(--bezevij1);
  text-align: center;
  padding: 14px 8px;
  width: 160px;
  z-index: 4px;
  position: absolute;
  bottom: 13px;
  right: 33px;
}
.team__item {
  position: relative;
}
.team__item-name {
  font-size: 12px;
  font-family: "Yeseva One";
}
.team__item-descr {
  font-size: 10px;
  font-family: "Comfortaa", cursive;
}

.feedback__descr {
  margin-right: 20px;
}
.feedback__item {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 16px;
  align-items: center;
}
.feedback__item-video {
  position: relative;
}
.feedback__item-videobtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}
.feedback__item-sociallink {
  margin-bottom: 12px;
}
.feedback__item-name {
  margin-bottom: 15px;
  font-family: "Yeseva One", cursive;
  font-size: 16px;
}
.feedback__item-text {
  font-size: 14px;
  margin-bottom: 15px;
}
.feedback__content {
  padding-bottom: 100px;
}
.feedback__item-btn {
  position: absolute;
  bottom: 10px;
  right: 0;
}
.feedback__item-content {
  margin-bottom: 70px;
  padding-bottom: 70px;
}
.feedback__slider {
  width: 777px;
  overflow: hidden;
}
.feedback__content .swiper-pagination {
  bottom: 40px;
}

.swiper-pagination-bullet {
  background-color: var(--bez3);
  width: 53px;
  height: 4px;
  border-radius: 0;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: var(--bezevij1);
}

.sertificates__descr {
  margin-right: 20px;
}
.sertificates__content {
  padding-bottom: 114px;
}
.sertificates__slider {
  width: 1135px;
  padding-bottom: 40px;
  overflow: hidden;
}
.sertificates__content .swiper-pagination {
  bottom: 60px;
}

.promo {
  background-image: url("../images/promo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 140px 0;
}
.promo__inner {
  display: flex;
  align-items: center;
}
.promo__text {
  font-family: "Yeseva One", cursive;
  font-size: 40px;
  color: white;
  padding-left: 56px;
  max-width: 766px;
  margin-right: 110px;
}
.promo__link {
  width: 155px;
  color: var(--seriy);
  background-color: var(--peach);
  font-size: 16px;
  display: inline-block;
  padding: 14px 25px 12px;
}

.contacts {
  padding: 150px 0 50px;
}
.contacts__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form {
  background-color: white;
  width: 664px;
  padding: 75px 42px 67px;
}
.form__title {
  font-family: "Yeseva One", cursive;
  font-size: 40px;
  margin-bottom: 60px;
}
.form__input {
  background-color: white;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  margin-bottom: 15px;
  padding: 7px 10px;
  color: black;
}
.form__input::placeholder {
  color: #b3b3b3;
  font-family: Comfortaa;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.form__btn {
  background-color: var(--peach);
  font-family: Comfortaa;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  color: var(--seriy);
  margin-top: 36px;
  padding: 17px 34px;
}

.accordeon {
}
.accordeon__item {
  background-color: white;
  margin-bottom: 10px;
}
.accordeon__title {
  margin-left: 20px;
  font-family: "Yeseva One", cursive;
  font-size: 16px;
  display: block;
  background-color: transparent;
  padding: 16px 50px 16px 13px;
  position: relative;
  right: 26px;
  top: 17px;
  width: 100%;
  text-align: left;
  min-width: 100px;
}
.accordeon__title::after {
  content: "";
  background-image: url("../images/arrow_down.svg");
  width: 16px;
  height: 16px;
  position: absolute;
}
.accordeon__text {
  opacity: 0;
  max-height: 0;
  max-width: 700px;
  background-color: var(--white2);
  padding: 15px 20px;
  margin-left: 20px;
}
.accordeon__text.accordeon__text--visible {
  opacity: 1;
  max-height: 100%;
}
.accordeon__title.accordeon__title--active::after {
  transform: rotate(180deg);
}

.footer {
  padding-top: 40px;
  padding-bottom: 35px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  width: 230px;
}
.email {
  margin: 17px 0;
}
.footer__social {
  display: flex;
  gap: 15px;
  flex-direction: row;
}

@media (max-width: 1000px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .top__content {
    width: 333px;
    padding: 95px 0 70px;
  }
  .top__img-l {
    width: 655px;
  }
  .top__img {
    left: 300px;
  }
  .top__text {
    margin-bottom: 30px;
  }

  .about__content {
    min-width: 300px;
  }
  .about__list {
    padding-left: 20px;
  }

  .section__inner {
    grid-template-columns: 290px auto;
    gap: 0 10px;
  }
  .section__text {
    font-size: 10px;
  }
  .products__content {
    gap: 67px;
  }

  .steps__list {
    gap: 37px 35px;
  }
  .steps__item {
    gap: 0 30px;
  }
  .team {
    padding: 50px 0;
  }
  .team__content {
    gap: 30px 20px;
  }
  .feedback__inner {
    grid-template-columns: 260px auto;
    margin-left: 20px;
  }
  .feedback__slider {
    width: 690px;
  }
  .sertificates__content img {
    width: 280px;
  }
  .sertificates__slider {
    width: 880px;
  }
  .sertificates__content .swiper-pagination {
    text-align: center;
  }
  .promo__link {
    text-align: center;
  }
  .promo__text {
    padding-left: 0;
  }
  .contacts__img {
    width: 335px;
  }
}

@media (max-width: 900px) {
  .section__inner {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 0 10px;
  }
  .products__content {
    gap: 30px 16px;
  }

  .section__descr {
    width: 200px;
  }
  .steps__item-text {
    font-size: 8px;
  }
  .steps__list {
    gap: 25px 25px;
  }
  .steps__item {
    gap: 0 20px;
  }
  .steps__item-img {
    width: 86px;
    object-fit: cover;
  }
  .steps__item::before {
    font-size: 20px;
  }
  .team .section__text {
    font-size: 10px;
  }

  .feedback__inner {
    grid-template-columns: 260px auto;
  }
  .feedback__descr .title {
    font-size: 30px;
  }
  .feedback__descr {
    width: 200px;
  }

  .sertificates__descr {
    width: 200px;
  }
  .title {
    font-size: 30px;
  }

  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__contacts {
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }
  .footer__social {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }
  .container {
    max-width: 640px;
  }

  h2,
  .title,
  .title {
    font-size: 15px;
  }

  .phone::before {
    position: absolute;
    width: 12px;
    height: 12px;
    left: -14px;
    top: -4px;
    background-size: cover;
  }
  .top__content {
    width: 230px;
  }
  .top__title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 400;
  }
  .top__text {
    margin-bottom: 20px;
  }
  .top__img {
    left: 180px;
  }

  .about__content {
    min-width: 200px;
  }
  .about__title {
    margin-bottom: 20px;
  }
  .about__text {
    font-size: 10px;
  }
  .about__list {
    margin-left: 27px;
    margin-bottom: 33px;
    gap: 10px;
  }
  .about__item-text {
    font-size: 6px;
  }
  .about__item-img {
    margin-bottom: 6px;
  }
  .about__item-img--1,
  .about__item-img--3 {
    width: 120px;
  }
  .about__item-img--2 {
    width: 190px;
  }

  .products__title.title {
    font-size: 15px;
  }
  .products__item {
    width: 200px;
  }
  .products__item-img {
    width: 200px;
    margin-bottom: 6px;
  }
  .products__item-price {
    font-size: 12px;
    margin-bottom: 7px;
  }
  .products__item-title {
    font-size: 12px;
    margin-bottom: 9px;
  }
  .products__item-text {
    font-size: 8px;
    margin-bottom: 18px;
  }
  .button {
    font-size: 12px;
    padding: 10px 26px;
  }
  .section__descr {
    width: 200px;
  }

  .steps__title {
    font-size: 15px;
  }
  .steps__item-text {
    font-size: 8px;
  }

  .courses__item-img {
    font-size: 10px;
  }
  .courses__title {
    padding: 8px;
    left: -1px;
  }
  .courses__time {
    padding: 4px 5px;
    left: -1px;
  }
  .courses__price {
    padding: 10px 10px;
    bottom: 0px;
    right: -10px;
  }

  .team__img {
    width: 140px;
  }
  .team__item-box {
    padding: 8px 4px;
    width: 108px;
    bottom: 8px;
    right: -24px;
  }
  .team__item-name {
    font-size: 8px;
  }
  .team__item-descr {
    font-size: 7px;
  }

  .feedback .title {
    font-size: 15px;
  }
  .feedback__item-video,
  .feedback__item-img {
    width: 200px;
  }
  .feedback__inner {
    grid-template-columns: 260px auto;
    margin-left: 0px;
  }
  .feedback__slider {
    width: 444px;
  }
  .feedback__item-content {
    padding-bottom: 44px;
  }

  /* sertificates section  */
  .section__inner {
    grid-template-columns: 190px auto;
  }
  .sertificates__slider {
    width: 460px;
  }
  .sertificates__slider img {
    width: 170px;
  }

  .promo {
    padding: 67px 0;
  }
  .promo__text {
    font-size: 15px;
  }
  .promo__link {
    font-size: 12px;
  }
  .contacts__img {
    width: 187px;
    object-fit: cover;
  }
  .form {
    width: 440px;
    padding: 30px 22px;
  }
  .form__title {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .form__btn {
    margin-top: 10px;
  }
  .form__input {
    font-size: 8px;
  }
}

@media (max-width: 640px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header__menu-list {
    width: 152px;
    background-color: var(--bezevij1);
    color: var(--white1);
    flex-direction: column;
    gap: 20px 0;
    padding: 25px 35px 25px 45px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-110%);
    transition: transform 2s ease;
    z-index: 5;
  }
  .header__menu-list.menu--open {
    transform: translateY(0%);
  }
  .header__menu {
    order: 1;
  }

  .menu__btn {
    display: flex;
  }

  .section__inner {
    display: block;
  }
  .section__descr {
    margin-bottom: 30px;
    text-align: center;
  }
  .steps__descr,
  .products__descr {
    margin: auto;
    margin-bottom: 30px;
  }

  .team__item-box {
    padding: 8px 4px;
    width: 108px;
    bottom: 8px;
    right: auto;
    left: 80px;
  }
  .section__descr {
    margin: auto;
  }
}

@media (max-width: 480px) {
  .top {
    padding: 30px 0 50px;
  }
  .top__content {
    width: 180px;
  }
  .top__title {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .top__text {
    font-size: 8px;
    margin-bottom: 15px;
  }
  .top__buy {
    font-size: 11px;
    padding: 14px 41px;
  }

  .top__img-l {
    width: 309px;
    left: 167px;
  }

  .about__content {
    min-width: 170px;
  }
  .about__list {
    margin-left: 0;
    padding-left: 10px;
  }
  .about__item-text {
    display: none;
  }
  .about__item-img--1,
  .about__item-img--3 {
    width: 80px;
  }
  .about__item-img--2 {
    width: 140px;
  }
  .about__list {
    gap: 0 5px;
    align-items: flex-end;
    margin-bottom: 0;
  }
  .about__inner {
    align-items: flex-end;
  }
  .about {
    margin-bottom: 50px;
  }
  .section {
    padding-bottom: 50px;
  }
  .section__content-descr {
    padding-bottom: 62px;
  }
  .products__descr > .products__title {
    font-size: 15px;
  }
  .section__descr {
    margin: 0 auto 30px;
    width: 300px;
  }

  .steps__list {
    gap: 25px 40px;
  }

  .team {
    margin-bottom: 50px;
  }

  .feedback__item {
    grid-template-columns: auto;
    text-align: center;
  }
  .feedback__slider {
    width: 250px;
    margin: 0 auto;
  }
  .feedback__item-img {
    width: 250px;
    margin: 0 auto 20px;
  }
  .feedback__item-video {
    width: 250px;
  }

  .sertificates__content {
    padding-bottom: 44px;
  }
  .sertificates__content img {
    width: 210px;
    margin: 0 auto 10px;
  }
  .section__inner {
    grid-template-columns: 40px auto;
  }
  .sertificates__slider {
    width: 460px;
  }

  .promo {
    padding: 42px 0;
  }
  .contacts__img {
    display: none;
  }

  .form__input::placeholder {
    font-size: 10px;
  }
  .contacts {
    padding-top: 50px;
  }

  .footer__inner,
  .footer__menu-list {
    flex-direction: column;
  }

  .footer__menu {
    padding: 50px 0;
    text-align: center;
  }

  .footer {
    padding: 50px 0;
    font-size: 14px;
  }
}

@media (max-width: 404px) {
  .steps__list {
    gap: 20px 25px;
  }
  .steps__item {
    gap: 0 16px;
  }
  .steps__item-text {
    font-size: 6px;
  }
  .steps__item-img {
    width: 66px;
  }

  .courses__content {
    grid-template-columns: auto;
  }
  .team__content {
    grid-template-columns: auto;
    justify-content: center;
  }
  .team__img {
    width: 204px;
  }
  .team__item-box {
    bottom: 15px;
    left: 120px;
    width: 152px;
  }
  .team__item-name {
    font-size: 12px;
  }
  .team__item-descr {
    font-size: 10px;
  }
}

@media (max-width: 360px) {
  .top__content {
    width: 200px;
    padding: 20px 0 0;
  }
  .top__title {
    font-size: 18px;
  }
  .top__text {
    font-size: 10px;
  }
  .top__img-l {
    width: 185px;
  }
  .top__img {
    left: auto;
    right: 0;
  }

  .about__content {
    min-width: 234px;
  }
  .about__text {
    font-size: 8px;
  }
  .title {
    margin-bottom: 10px;
  }

  .about {
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .about__list {
    margin-left: 12px;
    padding-left: 12px;
    padding-bottom: 30px;
  }
  .about__item-text {
    display: none;
  }
  .about__item-img--2,
  .about__item-img--3 {
    display: none;
  }
  .about__list {
    gap: 0 5px;
    align-items: flex-end;
    margin-bottom: 0;
  }
  .about__inner {
    align-items: flex-end;
  }
  .section__descr {
    margin: 0 auto 25px;
    width: 235px;
  }
  .products__title.title {
    margin-bottom: 10px;
  }
  .section__text {
    font-size: 8px;
  }
  .products__item,
  .products__item-img {
    width: 150px;
  }
  .products__content {
    gap: 40px 7px;
  }
  .button {
    font-size: 8px;
    padding: 7px 20px;
  }
  .products__item-price {
    font-size: 10px;
    margin-bottom: 5px;
  }
  .products__item-title {
    font-size: 10px;
    margin-bottom: 7px;
  }
  .products__item-text {
    margin-bottom: 16px;
  }
  .courses__item,
  .courses__item img {
    width: 255px;
  }

  .feedback__item-btn {
    bottom: 0;
    margin: 0 auto;
    left: 0;
    max-width: 100px;
  }

  .sertificates__slider {
    width: 200px;
  }
  .promo__text {
    margin-right: 50px;
  }
}
