/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  font-size: 16px;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  color: #fff;
  font-size: 1rem;
}

a {
  color: #fff;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #D4C17F;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
  width: 1140px;
  text-align: center;
}
.container.sm {
  max-width: 840px;
}

@media (max-width: 1200px) {
  :root {
    font-size: 14px;
  }
  .container {
    width: 98vw;
  }
  .container.sm {
    max-width: 74vw;
  }
}
.visually-hidden {
  /* Contain text within 1px box */
  height: 1px;
  overflow: hidden;
  width: 1px;
  /* Keep the layout */
  position: absolute;
  /* Remove any visible trace (e.g. background color) */
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); /* browsers in the future */
  /* Prevent the screen reader to skip spaces between words */
  white-space: nowrap;
}

.none {
  display: none !important;
}

.title-2 {
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3rem;
  color: #D4C17F;
}
@media screen and (max-width: 959px) {
  .title-2 {
    font-size: 1.5rem;
  }
}

.no-scroll {
  overflow-y: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 74px;
  min-height: 840px;
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url("./../../img/header/header-bg.jpg");
}
.header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .top .nav .nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2.5rem;
}
@media screen and (max-width: 959px) {
  .header .top .nav {
    display: none;
  }
  .header .top .header__nav-btn {
    display: block;
  }
}
.header .media .title {
  color: #D4C17F;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin-bottom: 5.06rem;
}
@media screen and (max-width: 959px) {
  .header .media .title {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    padding-bottom: 1rem;
  }
}
.header .bottom {
  display: flex;
  justify-content: space-around;
}
.header .bottom .item {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.header .bottom .item .icon {
  width: 21px;
  height: 21px;
}
.header .bottom .item .info {
  font-size: 1.125rem;
}

@media screen and (max-width: 959px) {
  .bottom {
    justify-content: center;
    flex-direction: column;
    row-gap: 2rem;
  }
  .bottom .block {
    width: 100%;
    text-align: center;
  }
}
.header__nav-btn {
  display: none;
}

@media screen and (max-width: 959px) {
  .header {
    min-height: unset;
    row-gap: 3rem;
  }
}

.header__top-row--mobile {
  position: fixed;
  z-index: 9;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #242B33;
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: center;
  row-gap: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header__top-row--mobile .nav {
  display: block !important;
}
.header__top-row--mobile .nav__list {
  flex-direction: column !important;
  align-items: center;
  row-gap: 30px;
}
.header__top-row--mobile .header__nav-btn {
  position: fixed;
  top: 50px;
  right: 15px;
}

.benefits {
  display: flex;
  position: relative;
  gap: 4.38rem;
  margin: 7.5rem auto;
  padding: 120px 0;
  overflow: hidden;
}
@media screen and (max-width: 959px) {
  .benefits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10rem !important;
    justify-content: center;
  }
}
.benefits .item {
  max-width: 12.1rem;
}
.benefits .b-icon {
  margin-bottom: 3.31rem;
}
@media screen and (max-width: 959px) {
  .benefits .b-icon {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.5rem;
  }
}
.benefits .b-name {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 135%;
}
@media screen and (max-width: 959px) {
  .benefits .b-name {
    font-size: 1rem;
  }
}
.benefits::after {
  content: "II";
  right: -19rem;
  bottom: -5rem;
  position: absolute;
  z-index: -1;
  opacity: 0.02;
  font-family: "Playfair Display", serif;
  font-size: 25rem;
}

@media (max-width: 1200px) {
  .benefits {
    gap: 1vw;
  }
  .benefits::after {
    right: 0;
  }
}
.apartments {
  position: relative;
}
.apartments h2 {
  margin-bottom: 5.5rem;
}
@media (max-width: 1200px) {
  .apartments h2 {
    margin-bottom: 2rem;
  }
}
.apartments::before {
  content: "III";
  right: calc(50% + 555px);
  top: -4rem;
  transform: translate(50%, 0%);
  position: absolute;
  z-index: -1;
  opacity: 0.02;
  font-family: "Playfair Display", serif;
  font-size: 25rem;
}
@media (max-width: 1200px) {
  .apartments::before {
    left: 10vw;
    top: -8rem;
  }
}

.apartments__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 0 auto;
}
@media screen and (max-width: 959px) {
  .apartments__cards {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.card {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #fff;
}
.card::before {
  content: "";
  position: absolute;
  z-index: 4;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
}
.card::after {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: 6;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  transition: opacity 0.7s ease-in;
}
.card:hover::after {
  opacity: 1;
}

.card:hover .card__img {
  transform: scale(1.1);
  filter: contrast(110%) brightness(1.3) saturate(1.2);
}

.card__img {
  transition: transform 0.3s ease-in;
}

.card__title {
  position: absolute;
  left: 50px;
  right: 20px;
  bottom: 44px;
  text-align: left;
  z-index: 5;
  font-size: 1.5rem;
}
@media screen and (max-width: 959px) {
  .card__title {
    font-size: 1.25rem;
    left: 2rem;
    bottom: 2rem;
  }
}

.cta {
  text-align: left;
  padding: 11.25rem 0;
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url("./../../img/cta/cta-bg.jpg"), #c4c4c4;
}
@media screen and (max-width: 959px) {
  .cta {
    padding: 4rem 0;
  }
}

.cta__title {
  margin-bottom: 1.06rem;
}

.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media screen and (max-width: 959px) {
  .cta__wrapper {
    grid-template-columns: 1fr;
  }
}

.cta__text {
  line-height: 1.5rem;
}
.cta__text p + p {
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .cta .form__privacy {
    align-items: flex-start;
  }
}
.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.2rem 1.9rem;
}
@media (max-width: 500px) {
  .cta__form {
    grid-template-columns: 1fr;
  }
}

.form__input {
  height: 3.2rem;
  padding: 0.9rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 0.875rem;
  color: #fff;
}
.form__input::placeholder {
  color: #BEBEBE;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.35);
}

.form__privacy {
  font-size: 0.8125rem;
  color: #E7E7E7;
  text-align: center;
  display: flex;
  align-items: center;
  line-height: 1.23;
}
@media (max-width: 500px) {
  .form__privacy {
    grid-row: 4/5;
  }
}

.form__btn {
  height: 50px;
  padding: 12px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: #D4C17F;
  transition: background-color 0.3s ease-in;
}
.form__btn:hover {
  background-color: #f6d45d;
}

.video {
  overflow: hidden;
  position: relative;
}
@media (max-width: 1200px) {
  .video {
    text-align: left;
  }
}
.video::after {
  content: "IV";
  left: calc(50% + 555px);
  transform: translate(-50%, 0%);
  position: absolute;
  z-index: -1;
  opacity: 0.02;
  font-family: "Playfair Display", serif;
  font-size: 25rem;
}
@media (max-width: 1200px) {
  .video::after {
    left: calc(50% + 33vw);
  }
}
@media screen and (max-width: 959px) {
  .video::after {
    left: 20vw;
  }
}

.video__link {
  position: relative;
  display: inline-block;
  text-align: center;
  background: url(../img/video/video-img.jpg);
  width: 45rem;
  height: 40.625rem;
  z-index: 4;
  object-fit: cover;
}
@media (max-width: 500px) {
  .video__link {
    width: 98vw;
    height: 98vw;
  }
}
.video__link::after {
  content: url(../img/video/play.svg);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  transition: all 0.6s ease-in;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  transition: background-color 0.2s ease-in;
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.7);
}

.video__link:hover::after {
  transform: translate(-50%, -50%) scale(1.2);
  filter: saturate(1.5);
}

.section-map {
  position: relative;
  padding: 11.25rem 0;
  text-align: left;
}
.section-map::before {
  content: "V";
  right: calc(50% + 35rem);
  transform: translate(50%, 0%);
  position: absolute;
  z-index: -1;
  opacity: 0.02;
  font-family: "Playfair Display", serif;
  font-size: 25rem;
  top: 180px;
  line-height: 1;
}
@media (max-width: 1200px) {
  .section-map::before {
    right: calc(50% + 25vw);
    top: 10vw;
  }
}

.section-map__title {
  margin-bottom: 5.5rem;
}
@media screen and (max-width: 959px) {
  .section-map__title {
    margin-bottom: 3rem;
  }
}

.map {
  height: 22.375rem;
  background: #626262;
}

.feedback {
  padding-bottom: 11.25rem;
  text-align: left;
}
@media screen and (max-width: 959px) {
  .feedback {
    padding-bottom: 6rem;
  }
}

.feedback__title {
  margin-bottom: 3.06rem;
}
@media screen and (max-width: 959px) {
  .feedback__title {
    margin-bottom: 1.2rem;
  }
}

.feedback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: center;
}
@media screen and (max-width: 959px) {
  .feedback__form {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .feedback__form {
    grid-template-columns: 1fr;
  }
}

.footer {
  padding-top: 4.5rem;
  padding-bottom: 3.19rem;
  background-color: #2D343C;
  font-size: 0.875rem;
  letter-spacing: 0.04375rem;
}
@media screen and (max-width: 959px) {
  .footer {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}
.footer .logo {
  margin-top: -12px;
}
.footer .socials {
  display: flex;
  align-items: center;
  column-gap: 1.38rem;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  text-align: left;
}
@media screen and (max-width: 959px) {
  .footer__grid {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 5rem 2rem;
  }
}

.footer__nav-list {
  display: grid;
  gap: 1rem;
}

.ye {
  color: #D4C17F;
  font-weight: 700;
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

/*# sourceMappingURL=main.css.map */
