:root {
  --bg-grey: rgb(47, 47, 47);
  --text-white: rgb(245, 245, 245);
  --cur-body-width: 70vw;
  font-size: 16px;
  background-color: black;
  /* временная часть  */

}

html {
  box-sizing: border-box;

}
body {
  width: var(--cur-body-width);
  background-color: var(--bg-grey);
  color: var(--text-white);
}

.img-container {
  width: 50%;
  overflow: hidden;
  display: flex;
  /* text-align: center; */
}
.inner-img {
  width: 100%;
  /* height: auto; */
  object-fit: contain;
  /* vertical-align: middle; */
  object-position: center top;
}

.box1 {
  width: 97vw;
  background-color: blueviolet;
}

.box1 {
  background-color: red ;
  width: 300px;
}
.box2 {
  background-color: rebeccapurple;
  width: 300px;
}
.box3 {
  background-color: blue;
  width: 300px;
}
.box4 {
  background-color: burlywood;
  width: 300px;
}
.box5 {
  background-color: gold;
  width: 300px;
}
.box6 {
  background-color: green;
  width: 300px;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}

