$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$width33: 400px;
$green-color: green;
$content-width: 1200px;
$default-font: Curier, serif;
$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_md: 767px;
$breakpoint_sm: 576px;


