@mixin decorNumber {
    position: absolute;
    z-index: -1;

    opacity: 0.02;
    font-family: $font-accent;
    font-size: 25rem;
}

@mixin mediaTablet {
    @media screen and (max-width: $tablet) {
        @content;
    }
}

@mixin mediaNotebook {
  @media (max-width: $notebook) {
    @content;
  }
}

@mixin media500 {
  @media (max-width: $ss500) {
    @content;
  }
}